



.board{
  width: 25%;
  padding: 30px;
  .basic{
    padding: 30px;
    background: #efefd7;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    .plus {
      &:hover{
        cursor: pointer;
      }
    }
  }

  .addWrapper{
    padding: 20px 10px 20px 20px;
    background: #efefd7;
    border-radius: 10px;
    .input{
      width: 85%;
    }
    .close{
      text-align-last: right;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .wrapper{
    padding: 20px;
    background: #efefd7;
    border-radius: 10px;
    .input{
      width: 100%;
    }
  }

}
