.listContainer {
  //width: 25%;
  width: 300px;
  padding: 30px;

  .basic {
    padding: 30px;
    background: #efefd7;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .plus {
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      @include transform();
    }
  }

  .addWrapper {
    padding: 20px 10px 20px 20px;
    background: #efefd7;
    border-radius: 10px;

    .input {
      width: 84%;
    }

    .close {
      text-align-last: right;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .wrapper {
    padding: 20px;
    background: #efefd7;
    border-radius: 10px;

    .input {
      width: 100%;
    }
  }

  .list {
    //padding: 20px;
    //background: #efefd7;
    border: 2.5px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.16), 0 0px 3px rgba(0, 0, 0, 0.23);
    //border-radius: 10px;
    .title {
      padding: 20px 20px 0px 20px;
      text-align: center;
      font-size: 18px;
    }

    .input {
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      width: 100%;
    }

    .box {
      padding: 10px 20px 10px 20px;

      .item {
        padding: 14px 7px 14px 7px;
        //margin: 10px 0px 10px 0px;
        border: 2.5px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
      }

      .checked {
        text-decoration: line-through;
        background: azure;
      }

      .unchecked {
        //text-decoration: line-through;
        //background: azure;
      }

      .checkIcon {
        float: right;
        cursor: pointer;
      }
    }
  }

}

.width100 {
  width: 100%;
}
