# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Windows-style : crlf
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2

# Indentation override for all Java
[*.{xml,java}]
indent_size = 4

# json, yml, web indentation
[*.{json,yml,js,jsx,ts,tsx,html,css,sass,scss,less}]
indent_size = 2

# markdown
[*.md]
indent_size = 2
trim_trailing_whitespace = false
